<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tambah category</title>
  </head>
  <body>
    <%= form_for @category do |category| %>
    <div>
      <%= category.label :categoryName %>
      <%= category.text_field :categoryName %>
    </div>
    <div>
      <%= category.submit %>
    </div>
    <% end %>
  </body>
</html>
